
<div class="sfgov-contact-container">
  <h3>Contact</h3>
  <div class="sfgov-contact-section address">
    <h5>{{ address.organization }}</h5>
    <p>
      {{ address.line1 }} <br/>
    {% if address.line2 %}
      {{ address.line2 }} <br/>
    {% endif %}
      {{ address.city }}, {{ address.state }} {{ address.zip }}
    </p>
  </div>
  <div class="sfgov-contact-section phone-numbers">
    <h5>Phone</h5>
    {% for phone in phone_numbers %}
      <div class="phone">
        <h6>{{ phone.owner }}</h6>
        <p><a href="tel:{{ phone.number }}">{{ phone.number }}</a></p>
        <div class="details">
          {{ phone.details | raw }}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="sfgov-contact-section email">
    <h5>Email</h5>
    <p><a href="mailto:{{ email }}">{{ email }}</a></p>
  </div>
</div>